<!DOCTYPE html>
<html>
<head>
  <title>View Users - Teacher Management</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
<div class="flex-nav">
  <div><strong>Teacher Management System</strong></div>
  <div>
    <a href="{% url 'dashboard' %}">Dashboard</a>
    <a href="{% url 'view_users' %}">users</a>
    <a href="{% url 'index' %}">Logout</a>
  </div>
</div>

<div class="container">
  <h2>Registered Users</h2>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Username</th>
        <th>Password</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
      <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.names }}</td>
        <td>{{ user.username }}</td>
        <td> <input type="password" value="{{ user.password }}" readonly></td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="4">No users found.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
</body>
</html>
